@*product[] 对象,它包含一些数据值,并将它传递到View方法,以便默认的视图来渲染这些数据*@
@*@model PartyInvites.Models.Product[]*@
@using PartyInvites.Models
@model Product[]


@{
    ViewBag.Title = "DemoExpression";
    Layout = "~/Views/_BasicLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DemoArray</title>
</head>
<body>
    @if (Model.Length > 0)
    {
        <table>
            <thead>
                <tr><th>Product</th><th>Price</th></tr>
            </thead>
            <tbody>
                @*处理命名空间使用权限定名,会使开发看起来十分麻烦PartyInvites.Models.Product
                    使用using可以引入命名空间
                    @using PartyInvites.Models
                    @model Product[]
                *@
                @foreach (Product p in Model)
                {
                    <tr>
                        <td>@p.Name</td>
                        <td>$@p.Price</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h2>No product data</h2>
    }
</body>
</html>
